* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------- root---------------------*/
:root {
  --primary-bg: #212529;
  --font_white: white;
  --hover-color: #1c7ed6;
}

/* ------------------- main container---------------------*/

.main_container {
  width: 100%;
  min-height: 90vh;
  background: var(--primary-bg);
}

.navigation_bar {
  width: 60%;
  margin: 0 auto;
  min-height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_bar img {
  width: 70px;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo h1 {
  color: var(--font_white);
  font-weight: bolder;
}

.nav_menu ul {
  display: flex;
  align-items: center;
}

.nav_menu ul li {
  list-style-type: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  position: relative;
}

.nav_menu ul li::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 5px;
  background: var(--hover-color);
  transition: all 0.5s ease;
  border-radius: 40px;
}

.nav_menu ul li:hover a {
  color: var(--hover-color);
}

.nav_menu ul li:hover::after {
  width: 100%;
}

.nav_menu ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

@media screen and (max-width: 650px) {

  .main_container {
    padding-bottom: 2rem;
    padding: 10px;
  }

  .navigation_bar {
    flex-direction: column;
    width: 100%;
  }

  .nav_menu {
    width: 100%;
    padding-left: 1rem;
  }

  .nav_menu ul li {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

/* ------------------- mail container---------------------*/

.mail_container {
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
  border-radius: 30px;
  border: 3px dotted gray;
}

.mail_container h3.mailcontainer_heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font_white);
  margin: 1rem 0;
}

.email_box {
  width: 60%;
  height: 50px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  border: 2px dotted gray;
  border-radius: 60px;
}

.email_box input {
  font-size: 1.2rem;
  color: white;
  background: transparent;
  height: 40px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
}

.email_box span {
  font-size: 1.5rem;
  color: var(--font_white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}


@media screen and (max-width: 650px) {

  .email_box {
    width: 100%;
    margin: 0 auto;
  }

  .mail_container {
    width: 95%;
    min-width: 100%;
    min-height: 200px;
    border: 3px dotted gray;
    padding: 10px;
  }
}

/* ------------------- main contaienr tools---------------------*/

.mail_container__tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail_container__tools ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  color: var(--font_white);
}

.mail_container__tools ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail_container__tools ul li span {
  padding: 0.5rem;
}

.mail_container__tools ul li p.counter_time {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--font_white);
  color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .mail_container__tools {
    font-size: 0.8rem;
    margin-top: 2rem;
    width: 100%;
  }

  .mail_container__tools ul {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: left;
    column-gap: 0;
  }
}

/* ------------------- mail tools end---------------------*/

/* ------------------- mail inbox---------------------*/

.mail_inbox {
  width: 70%;
  margin: 1rem auto;
  background: #343a40;
  border-radius: 5px;
  min-height: 500px;
}

.mailinbox_heading {
  width: 100%;
  min-height: 50px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-basis: 3;
  color: white;
  font-size: 1.3rem;
  border-bottom: 2px solid #eee;
}

.mailinbox_heading span {
  margin-right: 1rem;
}

.mailinbox_heading div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #eee;
  max-width: 340px;
  width: 340px;
  box-sizing: border-box;
}

.mailinbox_heading div:last-child {
  flex: 2;
}

.mail_text {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 3;
  height: 100%;
}

.sender {
  min-height: 200px;
  height: 100%;
  border-right: 2px solid #eee;
  max-width: 340px;
  width: 340px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  overflow-y: scroll;
}

.sender::-webkit-scrollbar {
  width: 0;
}

.mail_information {
  min-height: 200px;
  flex: 2;
  padding: 1.5rem;
}

.sender>div {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #868e96;
  padding: 5px;
  color: var(--font_white);
  border-radius: 3px;
  column-gap: 1rem;
  cursor: pointer;
}

.sender>div p {
  font-size: 0.8rem;
  font-weight: bold;
}

.sender>div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mail_message {
  width: 100%;
  min-height: 220px;
  background: #868e96;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

.mail_message p {
  font-weight: bold;
}

.mail_message span {
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
}

@media screen and (max-width: 650px) {

  .mail_inbox {
    background: transparent;

  }

  .mail_text {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 0;
  }
  .mailinbox_heading {
    display: none;
  }
  .mail_information p, span{
    font-size: 14px;
  }
  .sender{
    border: none;
  }
}

/* ------------------- mail inobox ends here---------------------*/

/* ------------------- social media starts here---------------------*/

.social_box {
  width: 70%;
  margin: 1rem auto;
}

.social_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.social_box ul li {
  list-style-type: none;
  cursor: pointer;
}

.social_box ul li img {
  width: 40px;
}


@media screen and (max-width: 650px) {
  .social_box {}
}

/* ------------------- temp mail starts---------------------*/

.temp_mail_info {
  text-align: center;
  width: 50%;
  margin: 2rem auto 0 auto;
}

.temp_mail_info h1 {
  color: #212529;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .temp_mail_info {
    width: 100%;
    padding: 1.5rem;
  }
}

/* ------------------- faq starts here---------------------*/
.temp_mail_faq {
  width: 50%;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.temp_mail_faq h1 {
  text-align: center;
  color: #212529;
  font-weight: 500;
}

.temp_mail_faq ul {
  margin-top: 1rem;
}

.temp_mail_faq ul li {
  padding: 0.5rem;
  width: 100%;
  min-height: 45px;
  border-top: 1px solid #343a40;
  list-style-type: none;
  position: relative;
  cursor: pointer;
}

.temp_mail_faq ul li:last-child {

  border-bottom: 1px solid #343a40;
}

.temp_mail_faq ul li img {
  position: absolute;
  top: 5px;
  right: 1rem;
  height: 30px;
  width: 30px;
  rotate: -90deg;
}

.temp_mail_faq ul li img.active {
  rotate: 0deg;
}

.temp_mail_faq ul li h3 {
  font-weight: 400;
}

.temp_mail_faq ul li p {
  font-size: 14px;
  margin-top: 1rem;
  display: none;
}

.temp_mail_faq ul li p.active {
  display: block;
}




@media screen and (max-width: 650px) {
  .temp_mail_faq {
    width: 100%;
    padding: 1.5rem;
  }

  .temp_mail_faq h3 {
    font-size: 14px;
  }

  .temp_mail_faq ul li img {
    right: 5px;
  }
}

/* ------------------- temp faq ends here---------------------*/

/* ------------------- temp blogs starts here---------------------*/

.temp_blog {
  width: 70%;
  margin: 1rem auto;
}

.temp_blog h1 {
  color: #212529;
  font-weight: 500;
  text-align: center;
  margin: 1rem auto;
}

.tempblog_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.tempblog_card {
  width: 100%;
  min-height: 180px;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.tempblog_card h3 {
  text-align: center;
  color: #212529;
}

.tempblog_card p {
  font-size: 13px;
  margin-top: 1rem;
}

@media screen and (max-width: 650px) {
  .tempblog_cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.5rem;
  }
}

/* ------------------- temp blogs ends here---------------------*/

/* ------------------- footer starts here---------------------*/

footer {
  margin-top: 3rem;
  width: 100%;
  min-height: 80px;
  background: #212529;
  color: var(--font_white);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

footer ul li {
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: color 350ms ease-in-out;
}

footer ul li:hover {
  color: var(--hover-color);
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  footer {
    width: 100%;
  }

  footer ul {
    width: 80%;
  }

  footer ul li {
    padding: 0.5rem;
  }
}