* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------- root---------------------*/
:root {
  --primary-bg: #212529;
  --font_white: white;
  --hover-color: #1c7ed6;
}

/* ------------------- main container---------------------*/

.main_container {
  width: 100%;
  min-height: 90vh;
  background: var(--primary-bg);
}

.navigation_bar {
  width: 60%;
  margin: 0 auto;
  min-height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_bar img {
  width: 70px;
}

.nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo h1 {
  color: var(--font_white);
  font-weight: bolder;
}

.nav_menu ul {
  display: flex;
  align-items: center;
}

.nav_menu ul li {
  list-style-type: none;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
  position: relative;
}

.nav_menu ul li::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 5px;
  background: var(--hover-color);
  transition: all 0.5s ease;
  border-radius: 40px;
}

.nav_menu ul li:hover {
  color: var(--hover-color);
}

.nav_menu ul li:hover::after {
  width: 100%;
}

.nav_menu ul li {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

@media screen and (max-width: 650px) {

  .main_container {
    padding-bottom: 2rem;
    padding: 10px;
  }

  .navigation_bar {
    flex-direction: column;
    width: 100%;
  }

  .nav_menu {
    width: 100%;
    padding-left: 1rem;
  }

  .nav_menu ul li {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

/* ------------------- main container ends here---------------------*/

/* ------------------- sign up here---------------------*/

.sign_up {
  background: white;
  min-height: 600px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2rem;
  transform:  scale(0) translate(-50%, -50%);
  opacity: 0;
}

.sign_up.active{
  transform:translate(-50%, -50%) scale(1);
  opacity: 1;
}
.sign_up h2 {
  margin-top: 2rem;
}

.sign_up form label {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #212529;
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.sign_up form label::after {
  content: '*';
  position: absolute;
  top: 0;
  right: -10px;
  color: red;
}

.sign_up form>div {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background: #d8dee977;
  border-radius: 10px;
  padding: 0.5rem;
}

.sign_up form>div>span {
  padding: 0.5rem;
  color: gray;
}

.sign_up form>div>input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.sign_pl {
  color: #868e96;
  font-size: 13px;
  margin-top: 1rem;
  padding-left: 5px;
}

.sign_up form button {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 40px;
  background: #03A89E;
  color: white;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.signall {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  font-weight: 400;
}

.signall a {
  font-size: 1rem;
  color: #3b5bdb;
  text-decoration: none;
  font-weight: bold;
}

.sign_up_overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0000002e, #0000003a);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.sign_up_overlay.active {
  display: block;
}

@media screen and (max-width: 650px) {
  .sign_up{
    max-width: 85%;
  }
}
/* ------------------- sign up ends here---------------------*/

/* ------------------- sign in starts here---------------------*/

.sign_in{
  background: white;
  min-height: 400px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2rem;
  transform:  scale(0) translate(-50%, -50%);
  opacity: 0;

}
.sign_in.active{
  transform:translate(-50%, -50%) scale(1);
  opacity: 1;
}
.sign_in h2 {
  margin-top: 2rem;
}

.sign_in form label {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #212529;
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.sign_in form label::after {
  content: '*';
  position: absolute;
  top: 0;
  right: -10px;
  color: red;
}

.sign_in form>div {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background: #d8dee977;
  border-radius: 10px;
  padding: 0.5rem;
}

.sign_in form>div>span {
  padding: 0.5rem;
  color: gray;
}

.sign_in form>div>input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.sign_pl {
  color: #868e96;
  font-size: 13px;
  margin-top: 1rem;
  padding-left: 5px;
}

.sign_in form button {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 40px;
  background: #03A89E;
  color: white;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.signall {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  font-weight: 400;
}

.signall a {
  font-size: 1rem;
  color: #3b5bdb;
  text-decoration: none;
  font-weight: bold;
}

.sign_in_overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0000002e, #0000003a);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.sign_in_overlay.active{
  display: block;
}

@media screen and (max-width: 650px) {
  .sign_in{
    width: 85%;
  }
}
/* ------------------- mail container---------------------*/

.mail_container {
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
  border-radius: 30px;
  border: 3px dotted gray;
}

.mail_container h3.mailcontainer_heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font_white);
  margin: 1rem 0;
}

.email_box {
  width: 60%;
  height: 50px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  border: 2px dotted gray;
  border-radius: 60px;
}

.email_box input {
  font-size: 1.2rem;
  color: white;
  background: transparent;
  height: 40px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
}

.email_box span {
  font-size: 1.5rem;
  color: var(--font_white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;

  transition: color 300ms ease-in-out;
}

.email_box span:hover {
  color: var(--hover-color);
}


@media screen and (max-width: 650px) {

  .email_box {
    width: 100%;
    margin: 0 auto;
  }

  .mail_container {
    width: 95%;
    min-width: 100%;
    min-height: 200px;
    border: 3px dotted gray;
    padding: 10px;
  }
}

/* ------------------- main contaienr tools---------------------*/

.mail_container__tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail_container__tools ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  color: var(--font_white);
}

.mail_container__tools ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail_container__tools ul li button {
  background: none;
  border: none;
  cursor: pointer;
}

.mail_container__tools ul li button:hover span {
  color: var(--hover-color);
}

.mail_container__tools ul li button span {
  padding: 0.5rem;
  color: white;
  transition: color 300ms ease-in-out;
}

.mail_container__tools ul li p.counter_time {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--font_white);
  color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .mail_container__tools {
    font-size: 0.8rem;
    margin-top: 2rem;
    width: 100%;
  }

  .mail_container__tools ul {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: left;
    column-gap: 0;
  }
}

/* ------------------- mail tools end---------------------*/

/* ------------------- mail inbox---------------------*/

.mail_inbox {
  width: 70%;
  margin: 1rem auto;
  background: #343a40;
  border-radius: 5px;
  min-height: 500px;
}

.mailinbox_heading {
  width: 100%;
  min-height: 50px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-basis: 3;
  color: white;
  font-size: 1.3rem;
  border-bottom: 2px solid #eee;
}

.mailinbox_heading span {
  margin-right: 1rem;
}

.mailinbox_heading div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #eee;
  max-width: 340px;
  width: 340px;
  box-sizing: border-box;
}

.mailinbox_heading div:last-child {
  flex: 2;
}

.mail_text {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 3;
  height: 100%;
}

.sender {
  min-height: 200px;
  height: 100%;
  border-right: 2px solid #eee;
  max-width: 340px;
  width: 340px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  overflow-y: scroll;
}

.sender::-webkit-scrollbar {
  width: 0;
}


.mail_information {
  min-height: 200px;
  flex: 2;
  padding: 1.5rem;
}

.sender .mail_card {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #868e96;
  padding: 5px;
  color: var(--font_white);
  border-radius: 3px;
  column-gap: 1rem;
  cursor: pointer;
}

.sender_card{
  width: 100%;
  min-height: 50px;
  background: white;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  cursor: pointer;
}

.sender_card p:first-child{
  font-weight: bold;
  font-size: 1.2rem;
}

.sender .mail_card p {
  font-size: 0.8rem;
  font-weight: bold;
}

.sender> .mail_card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mail_message {
  width: 100%;
  min-height: 220px;
  border-radius: 5px;
  color: white;
  padding: 1rem;
}

.mail_message p {
  font-weight: bold;
}

.loading_animation{
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .mail_inbox {
    width: 100%;
    background: none;
  }

  .mailinbox_heading {
    display: none;
  }

  .mail_text {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .sender{
    border: none;
    border: 0.5px solid #eee;
    border-radius: 5px;
    width: 100%;
    min-width: 369px;
  }
  .mail_information{
    margin-top: 1.5rem;
    border: 0.5px solid #eee;
    width: 100%;
  }

}

/* ------------------- mail inobox ends here---------------------*/

/* ------------------- social media starts here---------------------*/

.social_box {
  width: 70%;
  margin: 1rem auto;
}

.social_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.social_box ul li {
  list-style-type: none;
  cursor: pointer;
}

.social_box ul li img {
  width: 40px;
}


@media screen and (max-width: 650px) {}

/* ------------------- temp mail starts---------------------*/

.temp_mail_info {
  text-align: center;
  width: 50%;
  margin: 2rem auto 0 auto;
}

.temp_mail_info h1 {
  color: #212529;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .temp_mail_info {
    width: 100%;
    padding: 1.5rem;
  }
}

/* ------------------- faq starts here---------------------*/
.temp_mail_faq {
  width: 50%;
  margin: 1rem auto;
  margin-bottom: 5rem;
}

.temp_mail_faq h1 {
  text-align: center;
  color: #212529;
  font-weight: 500;
}

.temp_mail_faq ul {
  margin-top: 1rem;
}

.temp_mail_faq ul li {
  padding: 0.5rem;
  width: 100%;
  min-height: 45px;
  border-top: 1px solid #343a40;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.temp_mail_faq ul li:last-child {

  border-bottom: 1px solid #343a40;
}

.temp_mail_faq ul li img {
  position: absolute;
  top: 5px;
  right: 1rem;
  height: 30px;
  width: 30px;
  rotate: -90deg;
}

.temp_mail_faq ul li img.active {
  rotate: 0deg;
}

.temp_mail_faq ul li h3 {
  font-weight: 400;
}

.temp_mail_faq ul li p {
  font-size: 14px;
  margin-top: 1rem;
  display: none;
}

.temp_mail_faq ul li p.active {
  display: block;
}




@media screen and (max-width: 650px) {
  .temp_mail_faq {
    width: 100%;
    padding: 1.5rem;
  }

  .temp_mail_faq h3 {
    font-size: 14px;
  }

  .temp_mail_faq ul li img {
    right: 5px;
  }
}

/* ------------------- temp faq ends here---------------------*/

/* ------------------- temp blogs starts here---------------------*/

.temp_blog {
  width: 70%;
  margin: 1rem auto;
}

.temp_blog h1 {
  color: #212529;
  font-weight: 500;
  text-align: center;
  margin: 1rem auto;
}

.tempblog_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.tempblog_card {
  width: 100%;
  min-height: 180px;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.tempblog_card h3 {
  text-align: center;
  color: #212529;
}

.tempblog_card p {
  font-size: 13px;
  margin-top: 1rem;
}

@media screen and (max-width: 650px) {
  .tempblog_cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.5rem;
  }
}

/* ------------------- temp blogs ends here---------------------*/

/* ------------------- footer starts here---------------------*/

footer {
  margin-top: 3rem;
  width: 100%;
  min-height: 80px;
  background: #212529;
  color: var(--font_white);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

footer ul li a {
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: color 350ms ease-in-out;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--hover-color);
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  footer {
    width: 100%;
  }

  footer ul {
    width: 80%;
  }

  footer ul li a {
    padding: 0.5rem;
    font-size: 14px;
  }
}


/* ------------------- js styles added here---------------------*/

.thumb_card{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white !important;
  border-radius: 3px;
  column-gap: 1rem;
  padding: 0.5rem;
}

.thumb_circle{
  height: 35px;
  width: 35px;
  background: lightgray;
  border-radius: 50%;
}

.thumb_rect{
  width: 70%;
  height: 30px;
  background: lightgray;
  border-radius: 3px;
}

.thumb_card * {
  background: linear-gradient(
    120deg,
    #e5e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  animation: load 2s infinite;
}

@keyframes load {
  100%{
    background-position: -100% 0;
  }
}